@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&family=Roboto+Mono:wght@100&family=Twinkle+Star&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: 'Prata', serif;
    background: #ede8e2;
    display: flex;
    height: 100vh;
    
} */


.grid{
    background: #000;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    margin-left: 100px;
    box-shadow: 0 0 30px -10px rgb(138, 135, 135, 0.5);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: hidden;  
    background-image: url('../../../public/assets/landing.jpg');
    background-size: cover;
}



.grid__texts{
    color:  white;
    font-family: 'Prata', serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-row: 2/-2;
    grid-column: 1/-1;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.grid__title{
    font-family: 'Prata', serif;
    font-size: 4rem;
    
}

.grid__button{
    background-color: #22a7f0;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 45px;
}

.grid__button--link{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

